[defaults]
inventory = inventory/hosts.yml
interpreter_python = auto_silent
forks = 10
callback_result_format = yaml
retry_files_enabled = False
vault_password_file = ~/.ansible/redis-prod.vault-pass

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
